:root{
   --blue-color: #2196F3;
   --white-color: #FFFFFF;
   --p-color: #757575;
   --h-color: #212121;
   --bgd-color: #2F303A;
   --btn-bgd-color: #F5F4FA;
   --border-color-portf: #EEEEEE;
   --border-color-header: #ECECEC;
   --letter-spacing-01: 0.01em;
   --letter-spacing-02: 0.02em;
   --letter-spacing-03: 0.03em;
   --letter-spacing-06: 0.06em;
   --line-height-14px-12px: 1.17;
   --line-height-16px-14px: 1.14;
   --line-height-24px-14px: 1.71;
   --line-height-23px-20px: 1.15;
   --line-height-42px-36px: 1.17;
   --line-height-31px-26px: 1.19;
   --line-height-30px-16px: 1.88;
   --line-height-19px-16px: 1.19;
   --line-height-20px-16px: 1.25;
   --line-height-60px-44px: 1.36;
   --line-height-36px-18px: 2;
   --line-height-26px-16px: 1.63;
   --line-height-28px-18px: 1.55;
}
*,
*::before,
*::after {
   box-sizing: border-box;
}
body {
   font-family: 'Roboto', sans-serif;
   letter-spacing: var(--letter-spacing-03);
   font-size: 14px;
   color: var(--h-color);
}
li {
   list-style: none;
   margin: 0;
   padding: 0;
}
h1 {
   margin-top: 0;
   margin-bottom: 0;
}
.list{
   list-style: none;
    
}
a {
   text-decoration: none;
   outline: none;
   margin: 0;
   padding: 0;
}
p {
   margin-top: 0;
   margin-bottom: 0;
}
ul {
   margin: 0;
   padding: 0;
}
button {
   cursor: pointer;
   margin: 0px;
   background-color: var(--white-color);
}
h2 {
   margin: 0 0;
}
h3 {
   margin: 0 0;
}
.menu {
   text-decoration: none;
}
.container {
   width: 1200px;
   padding: 0 15px 0 15px;  
   margin: 0 auto;
}
section {
   padding-top: 94px;
   padding-bottom: 94px;
}
header {
   margin: 0;
   padding: 0;
}
footer {
   background: var(--bgd-color);
   margin: 0 auto;
}
/* Header section*/


.header__section {
   padding-top: 0px;
   padding-bottom: 0px;
   border-bottom: 1px solid var(--border-color-header);
}
.header__nav {
   display: flex;
   align-items: center;
}
.header__container {
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding-top: 32px;
   padding-bottom: 32px;
}
.logo-web {
   padding-top: 24px;
   padding-bottom: 24px;
   margin-right: 90px;
   font-family: 'Raleway', sans-serif;
   font-size: 26px;
   color: var(--blue-color);
   font-weight: 700;
   text-decoration: none;
   line-height: var(--line-height-31px-26px);
   letter-spacing: var(--letter-spacing-03);
}
.logo-studio {
   font-family: 'Raleway', sans-serif;
   font-size: 26px;
   color: #000000;
   font-weight: 700;
   text-decoration: none;
   line-height: var(--line-height-31px-26px);
   letter-spacing: var(--letter-spacing-03);  
}
.header__menu {
   display: flex;
   align-items: center;
   gap: 50px;
   font-weight: 500;
   font-size: 14px;
   letter-spacing: var(--letter-spacing-02);
   line-height: var(--line-height-16px-14px);
}
.header__menu .header__link {
   color: var(--h-color);
}
.header__menu .header__link:hover,
.header__menu .header__link:focus {
   color: var(--blue-color);
}
.header__menu .header__link:active {
   color: var(--blue-color);
}
.header__link {
   position: relative;
   padding: 32px 0px;
}
.header__link.current::after {
   display: block;
   position: absolute;
   bottom: 0px;
   left: 0px;
   content: '';
   width: 100%;
   height: 4px;
   background-color: var(--blue-color);
   border-radius: 2px;
}
.header__link.current {
   color: var(--blue-color);
}
.contacts {
   margin-left: auto;
}
.contacts__container {
   align-items: center;
   gap: 30px;
   display: flex;
   font-size: 14px;
   line-height: var(--line-height-16px-14px);
   font-weight: 500;
   letter-spacing: var(--letter-spacing-02);
}
.contacts__link {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   gap: 10px;
   width: 100%;
   height: 100%;
   color: var(--p-color);
}
.contacts__link:hover,
.contacts__link:focus {
   color: var(--blue-color);
   fill: var(--blue-color);
}
.contacts__link:active {
   color: var(--blue-color);
   fill: var(--blue-color);
}

.contacts__icon {
   width: 16px;
   height: 12px;
}

/* Hero section */

.hero__section {
   padding-top: 200px;
   padding-bottom: 200px;
   margin: 0 auto;
   background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),url('../images/Hero_image.jpg'
      );
   background-repeat: no-repeat;
   background-position: 50% 50%;
}   
.hero__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 30px;
}
.hero__title {
   display: flex;
   align-self: center;
   text-align: center;
   max-width: 696px;
   font-size: 44px;
   font-weight: 900;
   color: var(--white-color);
   letter-spacing: var(--letter-spacing-06);
   text-transform: uppercase;
   line-height: var(--line-height-60px-44px); 
}
.button-order {
   display: flex;
   display: inline-block;
   align-self: center;
   min-width: 216px;
   height: 50px;
   padding: 10px 32px;  
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   background: var(--blue-color);
   color: var(--white-color);
   letter-spacing: var(--letter-spacing-06);
   line-height: var(--line-height-30px-16px);
   border: none;
}

/* Features section */

.features__section {
   margin: 0 auto;   
   padding-bottom: 0;
}
.features__container {
   display: flex;
   flex-direction: row;
}
.features__list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.features__item {
   justify-content: center;
   max-width: 270px;
   flex-basis: calc((100% - 90)/ 4); 
} 
.features__icon {
   margin-bottom: 30px;
   display: flex;
   align-self: center;
   justify-content: center;
   width: 270px;
   height: 120px;
   background-color: #F5F4FA;
   padding: 25px 100px;
   border-radius: 4px;
}
.features__title {
   margin-bottom: 10px;
   font-weight: 700;
   font-size: 14px;
   line-height: var(--line-height-16px-14px);
   letter-spacing: var(--letter-spacing-03);
   text-transform: uppercase;
   color: var(--h-color);
}
.features__descr {
   font-size: 14px;
   font-weight: 400;
   line-height: var(--line-height-24px-14px);
   letter-spacing: var(--letter-spacing-03);
   color: var(--p-color);
}

/* Services section */

.services__section {
   margin: 0 auto;
}
.services__container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.subtitle {
   margin-bottom: 50px;
   text-align: center;
   font-weight: 700;
   font-size: 36px;
   line-height: var(--line-height-42px-36px);
   letter-spacing: var(--letter-spacing-03);
   color: var(--h-color);
}
.services__image {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.services__item {
   position: relative;
}
.services__overlay {
   display: block;
   position: absolute;
   background: rgba(47, 48, 58, 0.8);
   width: 100%;
   height: 70px;
   bottom: 0;
}
.services__subtitle {
   display: flex;
   justify-content: center;
   padding-top: 27px;
   font-weight: 700;
   font-size: 14px;
   line-height: var(--line-height-16px-14px);
   text-align: center;
   letter-spacing: var(--letter-spacing-03);
   text-transform: uppercase;
   color: var(--white-color);
}

/* Team section */

.team__section {
   background: #F5F4FA;
   padding-bottom: 94px;
}
.team__list {
   display: flex;
   gap: 30px;
}
.team__member {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.team__content {
   background: var(--white-color);
   display: flex;
   max-width: 270px;
   flex-direction: column;
}
.team__name {
   padding-bottom: 10px;
   text-transform: none;
   font-size: 16px;
   font-weight: 500;
   line-height: var(--line-height-19px-16px);
   letter-spacing: var(--letter-spacing-03);
}
.team__descr {
   font-size: 16px;
   font-weight: 400;
   line-height: var(--line-height-19px-16px);
   letter-spacing: var(--letter-spacing-03);
   color: var(--p-color);
}
.team__content-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 30px;
   padding-bottom: 16px;
}
.socials {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
   padding-bottom: 30px;
}
.socials__item {
   width: 44px;
   height: 44px;
}   
.socials__icon {
   width: 20px;
   height: 20px;
}
.socials__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   fill: #AFB1B8;
   background-color: var(--white-color);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   border-radius: 50%;
}
.socials__link:hover ,
.socials__link:focus {
   fill: var(--white-color);
   background-color: var(--blue-color);
   border-radius: 50%;
}
.socials__link:active {
   fill: var(--white-color);
   background-color: var(--blue-color);
   border-radius: 50%;
}

/* Customers section */

.customers__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 30px;
}
.customers__item {
   width: 170px;
   height: 92px;
}
.customers__icon {
   width: 106px;
   height: 60px;
}
.customers__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   fill: #AFB1B8;
   background-color: none;
   border: 1px solid #AFB1B8 ;
   border-radius: 4px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover ,
.customers__link:focus {
   fill: var(--blue-color);
   border: 1px solid var(--blue-color);
}
.customers__link:active {
   fill: var(--blue-color);
   border: 1px solid var(--blue-color);
}

/* Footer section*/

.footer__container {
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
}
.footer__references {
   display: flex;
   flex-direction: column;
   padding-top: 60px;
   padding-bottom: 60px;
}
.logo-studio {
   font-weight: 700;
   font-size: 26px;
   color: var(--white-color);
   text-decoration: none;
   line-height: var(--line-height-31px-26px);
   letter-spacing: var(--letter-spacing-03);
}
.footer__logo {
   margin-bottom: 20px;
}
.footer__contacts {
   display: flex;
   flex-direction: column;
}
.logo-web{
      font-family: 'Raleway', sans-serif;
      font-size: 26px;
      color: var(--blue-color);
      font-weight: 700;
      text-decoration: none;
      line-height: var(--line-height-31px-26px);
      letter-spacing: var(--letter-spacing-03);
}
.footer__address {
   margin-bottom: 9px;
}
/* .footer-ref-address{
   font-style: normal;
   font-weight: 400;
   color: var(--white-color);
   letter-spacing: var(--letter-spacing-03);
   line-height: var(--line-height-24px-14px);
}
.footer-ref-address:hover ,
.footer-ref-address:focus {
   color: var(--blue-color);
}
.footer-ref-address:active {
   color: var(--blue-color);
}
.footer-ref{
   line-height: var(--line-height-24px-14px);
   font-style: normal;
}
.footer-ref-email {
   margin-bottom: 9px;
}
.footer-ref .ref-email{
   color: var(--white-color);
   color: rgba(255, 255, 255, 0.6);
}
.footer-ref .ref-email:hover, 
.footer-ref .ref-email:focus {
   color: var(--blue-color);
}
.footer-ref .ref-email:active {
   color: var(--blue-color);
}
.footer-ref .ref-number {
   color: var(--white-color);
   color: rgba(255, 255, 255, 0.6);
}
.footer-ref .ref-number:hover,
.footer-ref .ref-number:focus {
   color: var(--blue-color);
}
.footer-ref .ref-number:active {
   color: var(--blue-color);
} */
.footer__content {
   padding-left: 70px;
   padding-top: 72px;
   padding-bottom: 100px;
}
.footer__subtitle {
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: var(--line-height-16px-14px);
   letter-spacing: var(--letter-spacing-03);
   text-transform: uppercase;
   color: var(--white-color);
}
.socials {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}
.socials__item {
   width: 44px;
   height: 44px;
}
.socials__icon {
   width: 20px;
   height: 20px;
}
.socials__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   fill: var(--white-color);
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover ,
.socials__link:focus {
   background-color: var(--blue-color);
   border-radius: 50%;
}
.socials__link:active {
   background-color: var(--blue-color);
   border-radius: 50%;
}

/* Footer Form */

.footer-form {
   padding-left: 94px;
   padding-top: 72px;
   padding-bottom: 94px;
}
.footer-form__container {
   display: flex;
}
.footer-form__textarea {
   margin-right: 12px;
   width: 358px;
   height: 50px;
   margin-right: 12px;
   padding-top: 15px;
   padding-left: 16px;
   font-size: 16px;
   line-height: var(--line-height-20px-16px);
   letter-spacing: var(--letter-spacing-03);
   color: rgba(255, 255, 255, 0.6);
   background-color: var(--bgd-color);
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   outline: none;
   resize: none;
}
.footer-form__button {
   display: flex;
   align-items: center;
   text-align: center;
   padding: 10px 28px;
   max-width: 200px;
   background-color: var(--blue-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   border: none;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: var(--letter-spacing-06);
   color: var(--white-color);
}
.footer-form__icon {
   margin-left: 10px;
   width: 24px;
   height: 24px;
   fill: var(--white-color);
}
------------ /* css for Portfolio */ ------------

/* Projects Section */

.projects__container {
   display: flex;
   flex-direction: column;   
}
.projects__buttons-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 50px;
}
.projects__buttons-item {
   margin-right: 8px;
}
.projects__button {
   padding: 6px 22px;
   font-family: 'Roboto';
   cursor: pointer;
   font-weight: 500;
   font-size: 16px;
   letter-spacing: var(--letter-spacing-03);
   line-height: var(--line-height-26px-16px);
   border-radius: 4px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__buttons-list .projects__button {
   color: var(--h-color-);
   background: var(--btn-bgd-color);
   border: none;
}
.projects__buttons-list .projects__button:hover,
.projects__buttons-list .projects__button:focus {
   color: var(--white-color);
   background: var(--blue-color);
   border: none;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
}
.projects__buttons-list .projects__button:active {
   color: var(--white-color);
   background: var(--blue-color);
   border: none;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
}
.projects__cards {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.projects__cards-link {
   display: block;
   width: 100%;
   height: 100%;
}
.projects__cards-link:hover,
.projects__cards-link:focus {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects__cards-link:active {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.projects__cards-overlay {
   padding: 64px 24px;
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
   background-color: rgba(33, 150, 243, 0.9);
   color: var(--white-color);
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__cards-link:hover .projects__cards-overlay ,
.projects__cards-link:focus .projects__cards-overlay {
   transform: translateY(0); 
}
.projects__cards-container {
   position: relative;
   overflow: hidden;
}
.projects__cards-descr {
   font-size: 18px;
   line-height: var(--line-height-28px-18px);
   letter-spacing: var(--letter-spacing-03);  
}
.projects__cards-content {
   border: 1px solid var(--border-color-portf);
   padding-left: 24px;
   padding-bottom: 20px;
   padding-top: 20px;
   width: 100%;
}
.projects__cards-image {
   display: block;
}
.projects__cards-title {
   margin-bottom: 4px;
   color: var(--h-color);
   letter-spacing: var(--letter-spacing-06);
   line-height: var(--line-height-36px-18px);
   font-weight: 700;
   font-size: 18px;
}
.projects__cards-type {
   line-height: var(--line-height-30px-16px);
   letter-spacing: var(--letter-spacing-03);
   font-size: 16px;
   color: var(--p-color);
}


/* Modal */
.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   opacity: 1;
   visibility: visible;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   padding: 40px;
   transform: translate(-50%, -50%);
   background-color: var(--white-color);
   border-radius: 4px;
   max-width: 528px;
   width: 100%;
   max-height: 580px;
   height: 100%;
}
.modal-icon {
   width: 12px;
   height: 12px;
}
.modal-btn-close {
   position: absolute;
   top: 8px;
   right: 8px;
   display: flex;
   align-items: center;
   padding: 10px;
   width: 30px;
   height: 30px;
   border: 1px solid rgba(0, 0, 0, 0.1); 
   border-radius: 50%;
   background-color: none;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover , 
.modal-btn-close:focus {
   fill: var(--blue-color);
}
.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
   margin-bottom: 12px;
   text-align:  center;
   font-weight: 700;
   font-size: 20px;
   line-height: var(--line-height-23px-20px);
   letter-spacing: var(--letter-spacing-03);
   color: var(--h-color);
}
.form-field-label {
   margin-bottom: 4px;
   font-size: 12px;
   line-height: var(--letter-spacing-01);
   letter-spacing: var(--line-height-14px-12px);
   color: var(--p-color);
}
.form-field-input {
   width: 100%;
   height: 40px;
   padding: 0 12px 0 42px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   outline: none;
}
.form-field-textarea {
   margin-bottom: 20px;
   width: 100%;
   height: 120px;
   padding: 12px 16px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   outline: none;
   resize: none;
}
.form-field-textarea:focus {
   border-color: var(--blue-color);
}
.form-field-input:focus {
   border-color: var(--blue-color);
} 
.form-field-input:focus + .input-icon {
   fill: var(--blue-color);
}
.input-container {
   position: relative;
   height: 40px;
   margin-bottom: 10px;
}
.input-icon {
   position: absolute;
   top: 50%;
   left: 14px;
   transform: translateY(-50%);
   fill: var(--h-color);
}

.form-field-textarea::placeholder {
   font-size: 12px;
   line-height: 14px;
   letter-spacing: 0.01em;  
}
.terms {
   font-weight: 400;
   font-size: 14px;
   line-height: var(--line-height-24px-14px);
   letter-spacing: var(--letter-spacing-03);
   color: var(--blue-color);
}
.form-button {
   margin-left: 124px;
   margin-top: 30px;
   padding: 10px 52px;
   max-width: 200px;
   height: 50px;
   background-color: var(--blue-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: var(--letter-spacing-06);
   color: var(--white-color);
   border: none;
}
.form-field-checkbox {
   display: flex;
   align-items: center;
   justify-content: center;
}
.checkbox-input {
   appearance: none;
}
.checkbox-icon {
   border: 2px solid var(--h-color);
   fill: transparent;
   border-radius: 2px;
   width: 16px;
   height: 16px;
   margin-right: 8px;
}
.checkbox-input:checked + .checkbox-icon {
   fill: var(--white-color);
   border: none;
   background-color: var(--blue-color);
}
.form-field-checkbox .tems {
   text-decoration: underline;
   text-decoration-skip-ink: none;
   color: var(--blue-color);
}